<header>
  <p-toast></p-toast>
  <p-confirmDialog></p-confirmDialog>
  <p-menubar [model]="items">
    <ng-template pTemplate="start">
      <img
        alt="logo"
        src="https://th.bing.com/th/id/OIG.4CjEhOnvhJOXlMDdf20E?pid=ImgGn"
        height="80"
        class="mr-2"
      />
    </ng-template>

    <ng-template pTemplate="end">
      <div class="flex gap-3 align-items-center">
        <div class="cart mr-2">
          <i
            class="relative cursor-pointer text-lg p-3 pi pi-shopping-cart border-circle transition-linear transition-duration-300 hover:surface-200"
            (click)="handleToggleOverlayPanel($event)"
          >
            <p-badge
              *ngIf="cartItems.length"
              styleClass="absolute top-0"
              [value]="cartItems.length.toString()"
            ></p-badge>
          </i>
          <p-overlayPanel #op>
            <ng-template pTemplate="content">
              <p-table
                [value]="cartItems"
                responsiveLayout="scroll"
                styleClass="max-h-screen"
                *ngIf="cartItems.length; else emptyCartBlock"
              >
                <ng-template pTemplate="header">
                  <tr>
                    <th class="text-center">Name</th>
                    <th class="text-center">Image</th>
                    <th class="text-center">Price</th>
                    <th class="text-center">Quantity</th>
                    <th class="text-center">Action</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-product>
                  <tr>
                    <td class="w-10rem">{{ product?.books?.name }}</td>
                    <td>
                      <img
                        [src]="
                          'https://picsum.photos/80/70?random=' + product?.id
                        "
                        [alt]="product?.image"
                        class="w-5rem shadow-2 border-round"
                      />
                    </td>
                    <td>${{ product?.price }}</td>
                    <td>
                      <p-inputNumber
                        [ngModel]="product?.quantity"
                        [showButtons]="true"
                        buttonLayout="horizontal"
                        inputStyleClass="w-3rem text-center"
                        decrementButtonClass="p-button-text"
                        incrementButtonClass="p-button-text"
                        incrementButtonIcon="pi pi-plus"
                        decrementButtonIcon="pi pi-minus"
                        [min]="1"
                        [max]="20"
                        [maxlength]="2"
                        (onInput)="handleUpdateCart($event, product?.id)"
                        [allowEmpty]="false"
                      >
                      </p-inputNumber>
                    </td>
                    <td>
                      <p-button
                        (click)="handleDeleteCartItem($event, product?.id)"
                        styleClass="p-button-danger"
                        icon="pi pi-trash"
                      ></p-button>
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                  <div
                    class="flex flex-column align-items-center justify-content-center"
                  >
                    <div class="text-900 mb-4 font-medium">
                      Your cart total is ${{ totalPrice | number : "1.2" }}
                    </div>
                    <p class="text-700 font-medium mt-0 mb-4">
                      FREE SHIPPING AND RETURN
                    </p>
                    <p-button label="Check Out"></p-button>
                  </div>
                </ng-template>
              </p-table>
              <ng-template #emptyCartBlock>
                <div class="flex flex-column align-items-center">
                  <img src="../../../../assets/EmptyCart.jpg" alt="" class="w-10rem">
                  <span class="font-medium">Oops! Your cart is empty...</span>
                </div>
              </ng-template>
            </ng-template>
          </p-overlayPanel>
        </div>
        <div class="login">
          <p-button label="Logout" (click)="handleLogout()"></p-button>
        </div>
      </div>
    </ng-template>
  </p-menubar>
</header>
